.joinGui {
    display: flex;
    flex-wrap: wrap;
}
.joinGui h1 {
    padding-top: 20px;
    color: white;
    padding-left: 20px;
    font-size: 75px;
    font-weight: 300;
    width: 100%;
}
.joinGui form textarea {
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;  
    width: 500px;
    height: 150px;
    padding: 10px;
}
.joinGui form button {
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;  
    width: 200px;
    padding: 10px;
    height: 40px;
    cursor: pointer;
}