.gui {
    padding-bottom: 20px;
}
.loginPage {
    background-color: rgb(22, 24, 24);
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}
.loginContainer h1 {
    font-weight: 300;
    font-size: 70px;
    text-align: center;
    color: white
}
.loginContainer {
    height: 500px;
    width: 400px;
    margin: auto;
    background-color: rgb(34, 38, 36);
    transform: translateY(100px);
    border-radius: 20px;
}
.loginContainer input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    margin: auto;
    transform: translateY(110px);
    border-radius: 20px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.loginContainer button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    margin: auto;
    transform: translateY(140px);
    border-radius: 20px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.loginContainer form {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}